{{ if and .result .result.Entry }}
	<title>Musenalm &ndash; {{ .result.Entry.PreferredTitle }}</title>
	<meta name="description" content="Almanach: {{ .result.Entry.PreferredTitle }}" />
{{ else }}
	<title>Musenalm &ndash; Almanach</title>
{{ end }}
