<title>{{ .site.title }} &ndash; {{ pageMetaField "kontakt" "title" }}</title>
<meta name="description" content="{{ pageMetaField "kontakt" "description" }}" />
<meta name="page-key" content="kontakt" />
