{{ template "_baende_row_group" (Dict
	"entry" .entry
	"items" .items
	"editor_user" .editor_user
	"contents_count" .contents_count
	"series_links" .series_links
	"can_edit" .can_edit
	"expanded" false
	"details" nil
) }}
