{{ $model := . }}

<span id="personen-admin-count"
	  hx-swap-oob="outerHTML"
	  class="whitespace-nowrap text-lg font-semibold font-sans text-gray-600">
	{{ if $model.current_count }}{{ GermanInt $model.current_count }}&thinsp;/&thinsp;{{ end }}{{ if $model.total_count }}{{ GermanInt $model.total_count }}{{ else }}{{ GermanInt (len $model.result.Agents) }}{{ end }} Personen
</span>

<table class="hidden">
	<tbody id="personen-admin-more-rows">
		{{ template "_personen_admin_rows" $model }}
	</tbody>
</table>
