{{ $model := . }}

<span id="personen-admin-count"
	  hx-swap-oob="outerHTML"
	  class="whitespace-nowrap text-lg font-semibold font-sans text-gray-600">
	{{ if $model.current_count }}{{ $model.current_count }}&thinsp;/&thinsp;{{ end }}{{ if $model.total_count }}{{ $model.total_count }}{{ else }}{{ len $model.result.Agents }}{{ end }} Personen
</span>

{{ template "_personen_admin_rows" $model }}
