{{ $entry := .entry }}
<tr
	class="align-top border-b transition-colors odd:bg-white even:bg-stone-50/50"
	data-role="baende-row"
	data-entry-id="{{ $entry.MusenalmID }}">
	{{ template "_baende_row_cells" . }}
</tr>
