<div class="mb-4">
    <form action="/admin/baende/" method="get" class="flex">
        <input type="text" name="search" value="{{ .search }}" placeholder="Suche..." class="w-full px-2 py-1 border border-stone-300">
        <button type="submit" class="px-4 py-1 bg-stone-200 border border-stone-300 border-l-0">Suchen</button>
    </form>
</div>
