{{ $model := . }}

{{- range $_, $series := $model.result.Series -}}
	{{- template "_reihen_row_group" (Dict
		"series" $series
		"editor_user" (index $model.result.Users $series.Editor)
		"band_links" (index $model.result.BandLinks $series.Id)
		"can_edit" (IsAdminOrEditor $model.request.user)
	) -}}
{{- end -}}
