{{ $model := . }}

{{ $isPerson := and $model.filter (or (eq $model.filter "noorg") (eq $model.filter "musik") (eq
	$model.filter "text") (eq $model.filter "graphik") (eq $model.filter "hrsg"))
}}

{{ $isNoOrg := and $model.filter (eq $model.filter "noorg") }}

{{ $isOrg := and $model.filter (eq $model.filter "org") }}


<div>
	<h1
		class="text-3xl font-bold px-3 relative -translate-y-[55%] w-min whitespace-nowrap bg-stone-50 ml-24 z-20">
		<span x-show="!search">
			{{- if $isPerson -}}
				Personen
			{{- else if $isOrg -}}
				Verlage, Druckereien &amp; Vertriebe
			{{- end -}}
		</span>
		<span x-show="search"> Suche &middot; Alle Personen &amp; Körperschaften </span>
	</h1>
	{{- if (IsAdminOrEditor $model.request.user) -}}
		<div class="ml-24 -mt-4">
			<a href="/personen/new/" class="inline-flex items-center gap-2 text-sm font-bold text-gray-700 hover:text-slate-950 no-underline">
				<i class="ri-add-line"></i>
				<span>Neu</span>
			</a>
		</div>
	{{- end -}}
</div>
