{{ $time := .time }}
{{ $user := .user }}
{{ $comment := .comment }}

<div class="admin-list-meta flex flex-col" >
	{{- if or $time $user -}}
		<div>
			{{- if $time -}}
				<div class="tabular-nums mt-0.5 font-medium text-slate-800">
				<i class="ri-calendar-line"></i>
				{{ GermanShortDateTime $time }}
				</div>
			{{- end -}}
			{{- if $user -}}
				<div class="text-slate-900">
				<i class="ri-user-line"></i>
				{{ $user }}
				</div>
			{{- end -}}
		</div>
	{{- end -}}
	{{- if $comment -}}
		<div>
			<div class="text-sm annotation-content hyphens-auto font-sans text-base leading-snug text-gray-700">
			<i class="ri-edit-box-line mr-1"></i>
			{{- Safe (ReplaceSlashParen $comment) -}}
			</div>
		</div>
	{{- end -}}
</div>
