{{- $isNew := index . "is_new" -}}
{{- $typeLabel := index . "type_label" -}}
{{- $typeIcon := index . "type_icon" -}}
{{- $title := index . "title" -}}
{{- $actions := index . "actions" -}}
{{- $dbID := index . "db_id" -}}
{{- $musenalmID := index . "musenalm_id" -}}
{{- $updated := index . "updated" -}}
{{- $editorUser := index . "editor_user" -}}
{{- $prevHref := index . "prev_href" -}}
{{- $prevLabel := index . "prev_label" -}}
{{- $nextHref := index . "next_href" -}}
{{- $nextLabel := index . "next_label" -}}
{{- $prevMusenalmHref := index . "prev_musenalm_href" -}}
{{- $prevMusenalmLabel := index . "prev_musenalm_label" -}}
{{- $nextMusenalmHref := index . "next_musenalm_href" -}}
{{- $nextMusenalmLabel := index . "next_musenalm_label" -}}

<header class="admin-page-header simple-entity-header">
	<div class="simple-entity-title-row">
		<span class="inline" data-tippy-placement="top" data-tippy-content='{{ $typeLabel }}'>
			<span class="simple-entity-title-icon" aria-label="{{ $typeLabel }}">
				<i class="{{ $typeIcon }}"></i>
			</span>
		</span>
		<h1 class="simple-entity-title">{{ $title }}</h1>
	</div>
	{{ template "_admin_header_toolbar" (Dict
		"is_new" $isNew
		"actions" $actions
		"show_az_nav" true
		"prev_href" $prevHref
		"prev_label" $prevLabel
		"next_href" $nextHref
		"next_label" $nextLabel
		"db_id" $dbID
		"musenalm_id" $musenalmID
		"updated" $updated
		"editor_user" $editorUser
		"prev_musenalm_href" $prevMusenalmHref
		"prev_musenalm_label" $prevMusenalmLabel
		"next_musenalm_href" $nextMusenalmHref
		"next_musenalm_label" $nextMusenalmLabel
	) }}
</header>
