{{ $model := . }}
<div
	class="bg-[url(/assets/hintergrund.webp)] w-full border-t border-b py-8 relative"
	x-data="{ open: true }"
	x-show="open">
	<div class="container-extraoversize flex flex-row gap-8 py-4">
		<div
			class="font-serif text-base hyphens-auto bg-gray-50 py-8 border-r
						 border-b shrink grow-0 w-1/2 shadow-sm">
			<div class="px-8">
				{{ pageHtml "reihen" "text" }}
				<div class="pt-3">
					<a href="/redaktion/einleitung">Einleitung</i></a>
					<i class="ri-seedling-line px-1.5"></i>
					<a href="/redaktion/benutzerhinweise">Benutzerhinweise</a>
				</div>

				<div class="mt-4 py-2 px-3 rounded bg-sky-50 border border-sky-200
				text-sky-950 font-sans font-bold">
					Bitte beachten Sie, dass es sich hier noch um eine öffentliche Testversion
					handelt. Über Rückmeldungen und Anregungen freuen wir uns [&rarr; <a
						href="/redaktion//kontakt">Kontakt</a>]
				</div>
			</div>
		</div>
		<div class="grow-0 shrink-0 w-1/2">
			<img src="{{ imagePath "page.reihen.image" }}" class="shadow-sm" />
		</div>
	</div>
	<div class="absolute top-2 right-0 m-4 mr-8">
		<tool-tip position="left">
			<div class="data-tip">Hinweis schließen</div>
			<button
				@click="open = false"
				class="text-3xl text-stone-800 opacity-85 hover:opacity-100 transition-opacity
					duration-200 hover:text-stone-900 leading-none
			hover:cursor-pointer">
				<i class="ri-close-circle-fill"></i>
			</button>
		</tool-tip>
	</div>
</div>
