@import "tailwindcss";
@theme {
	--font-script: Rancho, ui-serif;
	--font-sans: "Source Sans 3", "Merriweather Sans", ui-sans-serif;
	--font-serif: "Merriweather", ui-serif;

	--color-background: oklch(0.985 0.001 106.423);
	--color-background-darker: oklch(0.97 0.001 106.424);
	--color-background-dark: oklch(0.923 0.003 48.717);

	--color-border-main: oklch(0.97 0.001 106.424);
	--color-border-secondary: oklch(0.923 0.003 48.717);

	--color-text: oklch(0.21 0.034 264.665);
	--color-text-strong: oklch(0 0 0);
	--color-text-muted: oklch(0.373 0.034 259.733);
	--color-text-disabled: oklch(0.872 0.01 258.338);
	--color-text-subtle: oklch(0.707 0.022 261.325);

	--color-accent-blue-500: oklch(0.623 0.214 259.815);
	--color-accent-blue-100: oklch(0.932 0.032 255.585);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility font-variant-small-caps {
	font-variant-caps: small-caps;
}

@layer components {
	@media screen and (min-width: 96rem) {
		html {
			font-size: 16px;
		}
	}

	body {
		@apply bg-stone-50;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-serif;
	}

	a {
		@apply hyphens-none underline decoration-dotted hover:decoration-solid text-slate-700 hover:text-slate-900;
	}

	ul {
		@apply my-2;
	}

	li {
		@apply ml-14 list-disc;
	}

	#mainmenu nav > a {
		@apply hover:!border-zinc-200;
	}

	#mainmenu nav > * {
		@apply border-b-4 border-transparent;
	}

	#mainmenu nav > button[aria-current="true"] {
		@apply !bg-slate-200;
	}

	#mainmenu nav a[aria-current="page"] {
		@apply text-slate-800;
	}

	#mainmenu nav a[aria-current="page"] {
		@apply !border-zinc-300;
	}

	main {
		@apply grow shrink-0;
	}

	.small-caps {
		@apply font-variant-small-caps;
	}

	.alphabet a[aria-current="page"]:not(.inactive) {
		@apply pb-3 pt-2 font-bold italic !bg-stone-50 relative -bottom-3 border-b;
	}

	.alphabet a:hover:not([aria-current="page"]:not(.inactive)) {
		@apply pb-1 pt-0.5 !bg-stone-50 relative;
	}

	.headingcontainer:before {
		content: "";
		@apply bg-zinc-300 w-[50%] absolute top-0 left-[50%] h-[1px];
	}

	.headingcontainer {
		@apply mt-16 border-r border-zinc-300 relative w-full max-w-(--breakpoint-xl) mx-auto;
	}

	.headingcontainer h1 {
		@apply text-3xl font-bold px-3 bg-stone-50 relative -translate-y-[50%] w-min whitespace-nowrap mx-auto;
	}

	.filter-list-list .filter-list-item[aria-current="page"] {
		@apply border-l-4 border-zinc-300 font-bold;
	}

	.headingcontainer .notifier {
		@apply bg-stone-100 text-center text-base px-2.5 py-1 font-sans rounded;
	}

	.headingcontainer .notifier i {
		@apply inline-block pr-0.5;
	}

	.headingcontainer .notifier .filterterm {
		@apply font-bold;
	}

	.headingcontainer .backbutton {
		@apply ml-4 bg-stone-100 py-0.5 px-2.5 rounded font-sans text-base text-center;
	}

	.container-normal {
		@apply w-full max-w-(--breakpoint-xl) mx-auto px-3 py-4 relative;
	}

	.container-oversize {
		@apply w-full max-w-(--breakpoint-2xl) mx-auto px-3 py-4 relative;
	}

	.container-extraoversize {
		@apply w-full max-w-[112rem] mx-auto relative;
	}

	.text {
		@apply font-serif max-w-[48rem];
	}

	.text p {
		@apply text-lg hyphens-auto;
	}

	.text p:first-of-type {
		@apply mt-0;
	}

	.text p:last-of-type {
		@apply mb-0;
	}

	.text p + p {
		@apply mt-1;
	}

	.text p + ul {
		@apply mt-1;
	}

	.text p + ol {
		@apply mt-1;
	}

	.text p + blockquote {
		@apply mt-1;
	}

	.text p + pre {
		@apply mt-1;
	}

	.text p + p:not(.indented p, p:first-of-type) {
		@apply indent-3.5;
	}

	.indented p {
		@apply -indent-3.5 ml-3.5;
	}

	#searchnav > a:nth-of-type(1) {
		@apply ml-6;
	}

	#searchnav > a {
		@apply odd:bg-stone-100 even:bg-zinc-100 mx-1.5 border-zinc-300 border-x border-t px-2.5 no-underline transition-all duration-75 py-0.5;
	}

	#searchnav > a[aria-current="page"]:not(.inactive) {
		@apply font-bold italic !bg-stone-50 relative -bottom-3 border-b z-20;
	}

	#searchnav > a:hover:not([aria-current="page"]:not(.inactive)) {
		@apply pb-2 !bg-stone-50 relative;
	}

	#searchheading:before {
		content: "";
		@apply bg-zinc-300 w-[80%] absolute bottom-0 right-[20%] h-[1px] z-10;
	}

	#searchform:before {
		content: "";
		@apply bg-zinc-300 w-[30%] absolute bottom-0 right-[70%] h-[1px] z-10;
	}

	#searchform input {
		@apply w-full mx-auto px-2 py-1 border-zinc-600 border;
	}

	#searchform button {
		@apply bg-stone-100 text-base px-2.5 py-1 rounded font-sans transition-all duration-75;
	}

	#searchform button:hover:not(:disabled) {
		@apply cursor-pointer bg-stone-200;
	}

	#searchform button:disabled {
		@apply bg-stone-400 cursor-not-allowed;
	}

	#searchform .selectgroup {
		@apply col-span-12 w-full flex flex-row gap-x-6;
	}

	#searchform .selectgroup .selectgroup-option {
		@apply flex flex-row select-none gap-x-1.5;
	}

	#searchform .selectgroup .selectgroup-option label {
		@apply whitespace-nowrap;
	}

	#searchform .selectgroup input:not(:checked) + label {
		@apply decoration-slate-900 line-through;
	}

	#persontype a {
		@apply px-1.5 border-b-[5px] border-zinc-300 no-underline font-serif mx-2.5;
	}

	#persontype a[aria-current="page"]:not(#persontype.inactive a) {
		@apply font-bold;
	}

	#personheader:before {
		content: "";
		@apply bg-zinc-300 w-[50%] absolute bottom-0 left-[50%] h-[1px];
	}

	#personalphabet:after {
		content: "";
		@apply absolute right-0 top-0 h-[44em] border-r border-zinc-300;
	}
}
