<div class="container-normal relative">
	<div class="text indented">
		{{ if (pageMetaField "lesekabinett" "title") }}<h1 class="mb-12">{{ pageMetaField "lesekabinett" "title" }}</h1>{{ end }}
		<div class="text">
			{{ pageHtml "lesekabinett" "text" }}
		</div>
	</div>
</div>
