<!doctype html>
<html class="w-full h-full" {{ if .lang }}lang="{{ .lang }}"{{ end }}>
	<head>
		{{ block "head" . }}
			<!-- Default Head elements -->
		{{ end }}

		{{ template "_head" . }}
	</head>

	<body class="w-full min-h-full" id="body" hx-ext="response-targets" hx-boost="true">
		<div class="pb-12">
			{{ block "body" . }}
				<!-- Default app body... -->
			{{ end }}
		</div>

		{{ template "_scripts" . }}
	</body>
</html>
