{{- $content := index . 0 -}}
{{- $prefix := index . 1 -}}
{{- $fieldId := index . 2 -}}

<div class="flex flex-col gap-4">
	<div class="inputwrapper">
		<div class="inputlabelrow">
			<div class="flex items-center gap-1">
				<label for="{{ $fieldId }}" class="inputlabel">Status</label>
				<span class="!inline" data-tippy-placement="top" data-tippy-content='{{ help "contents" "edit_state" }}'>
					<i class="ri-question-line"></i>
				</span>
			</div>
		</div>
		<div class="relative">
			<select name="{{ $prefix }}edit_state" id="{{ $fieldId }}" autocomplete="off" class="status-select status-select-real" data-status="{{ $content.EditState }}">
				<option value="Unknown" {{ if eq $content.EditState "Unknown" }}selected{{ end }}>Unbekannt</option>
				<option value="ToDo" {{ if eq $content.EditState "ToDo" }}selected{{ end }}>Zu erledigen</option>
				<option value="Review" {{ if eq $content.EditState "Review" }}selected{{ end }}>Überprüfen</option>
				<option value="Edited" {{ if eq $content.EditState "Edited" }}selected{{ end }}>Erfasst</option>
			</select>
			<i class="status-icon absolute left-3 top-1/2 -translate-y-1/2 pointer-events-none {{- if eq $content.EditState "Edited" }} ri-checkbox-circle-line{{- else if eq $content.EditState "Review" }} ri-search-line{{- else if eq $content.EditState "ToDo" }} ri-list-check{{- else }} ri-forbid-2-line{{- end }}"></i>
		</div>
	</div>

	<div id="{{ $prefix }}edit_comment_section"></div>
	<div-manager dm-target="{{ $prefix }}edit_comment_section">
		<button class="dm-menu-button text-right cursor-pointer whitespace-nowrap"><i class="ri-add-line"></i>
			Bearbeitungsvermerk hinzufügen</button>

		<div class="inputwrapper {{ if eq $content.Comment "" }}hidden{{ end }}">
			<div class="inputlabelrow">
				<div class="flex items-center gap-1">
					<label for="{{ $prefix }}edit_comment" class="inputlabel menu-label">Bearbeitungsvermerk</label>
					<span class="!inline" data-tippy-placement="top" data-tippy-content='{{ help "contents" "edit_comment" }}'>
						<i class="ri-question-line"></i>
					</span>
				</div>
				<div class="pr-2">
					<button class="dm-close-button font-bold input-label">
						<i class="ri-close-line"></i>
					</button>
				</div>
			</div>

			<textarea name="{{ $prefix }}edit_comment" id="{{ $prefix }}edit_comment" class="inputinput" placeholder="" autocomplete="off" rows="1">{{- $content.Comment -}}</textarea>
		</div>
	</div-manager>
</div>
