{{- $entity := index . 0 -}}
{{- $fieldName := index . 1 -}}
{{- $fieldId := index . 2 -}}
{{- $tableName := "" -}}
{{- $context := "" -}}
{{- if gt (len .) 3 -}}
	{{- $tableName = index . 3 -}}
{{- end -}}
{{- if gt (len .) 4 -}}
	{{- $context = index . 4 -}}
{{- end -}}
{{- $isAlmanach := eq $context "almanach" -}}

<div class="flex flex-col gap-2">
	<!-- Status -->
	<div class="inputwrapper">
		<div class="inputlabelrow">
		<div class="flex items-center gap-1">
			<label for="{{ $fieldId }}" class="inputlabel">Status</label>
			<span class="!inline" data-tippy-placement="top" data-tippy-content='{{ help $tableName "edit_state" }}'>
				<i class="ri-question-line"></i>
			</span>
		</div>
		</div>
		<div class="relative">
			<select name="{{ $fieldName }}" id="{{ $fieldId }}" autocomplete="off" class="status-select status-select-real" data-status="{{ $entity.EditState }}">
				<option value="Unknown" {{ if eq $entity.EditState "Unknown" }}selected{{ end }}>{{ if $isAlmanach }}Gesucht{{ else }}Unbekannt{{ end }}</option>
				<option value="ToDo" {{ if eq $entity.EditState "ToDo" }}selected{{ end }}>Zu erledigen</option>
				<option value="Review" {{ if eq $entity.EditState "Review" }}selected{{ end }}>Überprüfen</option>
				{{- if $isAlmanach -}}
				<option value="Seen" {{ if eq $entity.EditState "Seen" }}selected{{ end }}>Autopsiert</option>
				<option value="Edited" {{ if eq $entity.EditState "Edited" }}selected{{ end }}>Vollständig Erfasst</option>
				{{- else -}}
				<option value="Edited" {{ if eq $entity.EditState "Edited" }}selected{{ end }}>Erfasst</option>
				{{- end -}}
			</select>
			<i class="status-icon absolute left-3 top-1/2 -translate-y-1/2 pointer-events-none {{- if eq $entity.EditState "Edited" }} ri-checkbox-circle-line{{- else if eq $entity.EditState "Seen" }} ri-information-line{{- else if eq $entity.EditState "Review" }} ri-search-line{{- else if eq $entity.EditState "ToDo" }} ri-list-check{{- else }} ri-forbid-2-line{{- end }}"></i>
		</div>
	</div>

	<!-- Bearbeitungsvermerk -->
	<div id="edit_comment_section"></div>
	<div-manager dm-target="edit_comment_section">
		<button class="dm-menu-button text-right cursor-pointer whitespace-nowrap"><i class="ri-add-line"></i>
			Bearbeitungsvermerk hinzufügen</button>

		<div class="inputwrapper {{ if eq $entity.Comment "" }}hidden{{ end }}">
			<div class="inputlabelrow">
				<div class="flex items-center gap-1">
					<label for="edit_comment" class="inputlabel menu-label">Bearbeitungsvermerk</label>
					<span class="!inline" data-tippy-placement="top" data-tippy-content='{{ help $tableName "edit_comment" }}'>
						<i class="ri-question-line"></i>
					</span>
				</div>
				<div class="pr-2">
					<button class="dm-close-button font-bold input-label">
						<i class="ri-close-line"></i>
					</button>
				</div>
			</div>

			<div class="inputshell"><textarea name="edit_comment" id="edit_comment" class="inputinput" placeholder="" autocomplete="off" rows="1">{{- $entity.Comment -}}</textarea></div>
		</div>
	</div-manager>
</div>
