{{ $model := . }}


<div id="user-message">
	{{ if $model.success }}
		<div
			class="text-green-800 text-sm mt-2 rounded-xs bg-green-200 p-2 font-bold border-green-700
			shadow border mb-3">
			<i class="ri-checkbox-circle-fill"></i> {{ $model.success }}
		</div>
	{{ end }}
	{{ if $model.error }}
		<div
			class="text-red-800 text-sm mt-2 rounded-xs bg-red-200 p-2 font-bold border-red-700 shadow
		border mb-3">
			<i class="ri-error-warning-fill"></i> {{ $model.error }}
		</div>
	{{ end }}
</div>
