<div class="container-normal relative">
	<div class="text">
		{{ if (pageMetaField "benutzerhinweise" "title") }}<h1 class="mb-12">{{ pageMetaField "benutzerhinweise" "title" }}</h1>{{ end }}
		<div class="text">
			{{ pageHtml "benutzerhinweise" "text" }}
		</div>
	</div>
</div>
