{{- $content := index . "content" -}}
{{- $entry := index . "entry" -}}
{{- $csrf := index . "csrf_token" -}}
{{- $contentTypes := index . "content_types" -}}
{{- $musenalmTypes := index . "musenalm_types" -}}
{{- $paginationValues := index . "pagination_values" -}}
{{- $contentID := index . "content_id" -}}

{{- template "_content_edit_form" (Dict
	"content" $content
	"content_id" $contentID
	"entry" $entry
	"csrf_token" $csrf
	"content_types" $contentTypes
	"musenalm_types" $musenalmTypes
	"pagination_values" $paginationValues
	"agents" (index . "agents")
	"content_agents" (index . "content_agents")
	"agent_relations" (index . "agent_relations")
) -}}
