{{ $p := index . 0 }}
{{ $t := index . 1 }}
<div class="flex flex-row gap-x-3 max-w-[48rem]">
	<form
		id="lookupform"
		class="w-full font-serif grid grid-cols-12 gap-x-4 mb-4"
		method="get"
		action="/suche/{{- $t -}}"
		autocomplete="off">
		<label for="almstring" class="col-span-3 align-middle hidden">Almanach-Nummer:</label>
		<input
			autocomplete="off"
			minlength="1"
			required="true"
			type="search"
			name="almstring"
			id="almstring"
			value="{{ $p }}"
			placeholder="{{- if eq $t "baende" -}}
				Alm-Nummer
			{{- else -}}
				Inhalts-Nummer
			{{- end -}}"
			class="w-full col-span-3 placeholder:italic placeholder:font-sans" />
		<button id="submitbutton" type="submit" class="col-span-2">Nachschlagen</button>
	</form>
</div>
