{{ $result := .result }}
{{ template "_baende_row_group" (Dict
	"entry" $result.Entry
	"items" $result.Items
	"editor_user" $result.EditorUser
	"contents_count" $result.ContentsCount
	"series_links" $result.SeriesLinks
	"agent_rels" $result.AgentRels
	"can_edit" $result.CanEdit
	"expanded" true
	"details" $result
) }}
