{{- $model := . }}
{{/* type BeitragResult struct {
	Entry          *dbmodels.Entry
	Content        *dbmodels.Content
	PrevByNumber   *dbmodels.Content
	NextByNumber   *dbmodels.Content
	ContentsAgents []*dbmodels.RContentsAgents // <- Key is content id
	}
*/}}


<div id="breadcrumbs">
	<div>
		<div class="">Almanache <i class="ri-arrow-right-wide-line"></i></div>
		<div>
			<a href="/almanach/{{- $model.result.Entry.MusenalmID -}}">
				{{- $model.result.Entry.PreferredTitle -}}
			</a>
		</div>
		<div>
			<i class="ri-arrow-right-wide-line"></i>Beitrag Nr.
			<b>{{ $model.result.Content.MusenalmID }}</b>
		</div>
		<div class="grow"></div>
		<div class="backbutton">
			<a href="/almanach/{{- $model.result.Entry.MusenalmID -}}" class="no-underline">
				<i class="ri-arrow-left-long-line"></i> Zum Almanach
			</a>
		</div>
	</div>
</div>

<div class="container-normal mt-12 flex flex-col font-serif">
	<div class="font-sans mb-1 flex items-center gap-2">
		<div><i class="ri-article-line"></i> Einzelbeitrag</div>
		<span class="inline-flex items-center rounded-xs border border-stone-200 px-1.5 py-0 text-[0.9rem] font-semibold text-slate-700 tabular-nums">
			ID {{ $model.result.Content.MusenalmID }}
		</span>
		<div>&middot;</div>
		<div class="flex items-center gap-3">
			{{- if $model.result.PrevByNumber -}}
				<span class="!inline" data-tippy-placement="top" data-tippy-content='{{- if $model.result.PrevByNumber.PreferredTitle -}}{{ $model.result.PrevByNumber.PreferredTitle }}{{- else -}}Beitrag Nr. {{ $model.result.PrevByNumber.MusenalmID }}{{- end -}}'>
					<a
						href="/beitrag/{{ $model.result.PrevByNumber.MusenalmID }}"
						class="text-gray-700 hover:text-slate-950 no-underline">
						<i class="ri-arrow-left-s-line"></i>
					</a>
				</span>
			{{- end -}}
			<span class="text-gray-800 font-bold no-underline">
				{{ $model.result.Entry.PreferredTitle }}, {{ if $model.result.Content.Extent }}S. {{
				$model.result.Content.Extent }}{{ else }}Nr. {{ $model.result.Content.MusenalmID }}{{- end
				-}}
			</span>
			{{- if $model.result.NextByNumber -}}
				<span class="!inline" data-tippy-placement="top" data-tippy-content='{{- if $model.result.NextByNumber.PreferredTitle -}}{{ $model.result.NextByNumber.PreferredTitle }}{{- else -}}Beitrag Nr. {{ $model.result.NextByNumber.MusenalmID }}{{- end -}}'>
					<a
						href="/beitrag/{{ $model.result.NextByNumber.MusenalmID }}"
						class="text-gray-700 hover:text-slate-950 no-underline">
						<i class="ri-arrow-right-s-line"></i>
					</a>
				</span>
			{{- end -}}
		</div>
		{{- if (IsAdminOrEditor $model.request.user) -}}
			<div>
				&middot;&nbsp;<i class="ri-edit-line"></i>
				<a href="/admin/almanach/{{- $model.result.Entry.MusenalmID -}}/contents/edit/{{- $model.result.Content.MusenalmID -}}">Bearbeiten</a>
			</div>
		{{- end -}}
	</div>
	<h1 class="text-3xl font-bold">
		{{ $model.result.Content.PreferredTitle }}
	</h1>
	<span class="mt-1">
		{{- $arr := $model.result.Content.MusenalmType -}}
		{{- if $arr -}}
			{{- range $i, $p := $arr -}}
				<span
					class="inline-block align-middle bg-slate-200 px-2 font-sans text-sm py-0.5
					rounded not-first:ml-1 mr-1 mt-1.5 hover:text-slate-900 no-underline">
					{{- $p -}}
				</span>
			{{- end -}}
		{{- end -}}
	</span>

	<div class="mt-7">
		{{- template "_content"  Arr $model.result.Content $model.result.Entry $model.result.ContentsAgents false true -}}
	</div>
</div>
