{{ $series := .series }}
<tr
	class="admin-list-row odd:bg-white even:bg-stone-50/50 hover:!bg-stone-50"
	data-role="reihen-row"
	data-series-id="{{ $series.MusenalmID }}">
	{{ template "_reihen_row_cells" . }}
</tr>
