{{ $model := . }}
<title>
{{- if $model.is_new -}}
	Neue Reihe - Musenalm
{{- else if $model.result -}}
	Bearbeiten: {{ $model.result.Series.Title }} - Musenalm
{{- else -}}
	Reihe bearbeiten - Musenalm
{{- end -}}
</title>
