{{ $model := . }}

<div class="admin-page-shell">
	<header class="admin-page-header">
		<div class="admin-page-heading">
			<div>
				<h1 class="admin-page-title">Benutzerverwaltung</h1>
				<p class="admin-page-description">
					Konten, aktive Sitzungen und Zugänge bestehender Benutzer können hier durch
					Administratoren zentral verwaltet werden. Administratoren können bei Bedarf auch die
					Passworte einzelner Nutzer zurücksetzen.
				</p>
			</div>
		</div>
	</header>

	<div class="admin-page-body admin-page-body-simple">
		{{ template "_usermessage" $model }}
		<div class="w-full overflow-x-auto">
			<table class="user-mgmt w-full text-lg">
				<thead>
					<tr>
						<th>Name</th>
						<th>E-Mail</th>
						<th>Rolle</th>
						<th>Aktive Logins</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{ range $u := $model.users }}
						<tr class="{{ if $u.Deactivated }}deactivated{{ end }}" id="user-{{ $u.Id }}">
							<td>{{ $u.Name }}</td>
							<td>{{ $u.Email }}</td>
							{{- if eq $u.Role "Admin" -}}
								<td class="">Administrator</td>
							{{- else if eq $u.Role "Editor" -}}
								<td class="">Redakteur</td>
							{{- else -}}
								<td class="">Benutzer</td>
							{{- end -}}
							<td>{{ index $model.session_counts $u.Id }}</td>
							<td>
								<div class="flex flex-row justify-end items-center gap-2">
									<!-- INFO: User edit button -->
									<div class="edit-button">
										<tool-tip position="top">
											<div class="data-tip font-bold hidden">Bearbeiten</div>
											<a href="/admin/user/{{ $u.Id }}/edit?redirectTo=/admin/user/management" class="text-gray-200 no-underline">
												<i class="ri-pencil-line"></i>
											</a>
										</tool-tip>
									</div>

									<!-- INFO: User logout button -->
									<form
										{{- if eq $u.Id $model.request.user.Id }}
											x-init @ajax:before="confirm('Sie werden ausgeloggt und müssen sich neu einloggen. Sicher?') || $event.preventDefault()"
										{{ end }}
										class=""
										method="POST"
										action="/admin/user/management/logout/"
										hx-boost="false"
										x-target="user-{{ $u.Id }} user-message"
										x-target.away="_top">
										<input type="hidden" name="uid" id="uid" required value="{{ $u.Id }}" />
										<input type="hidden" name="csrf_token" id="csrf_token" required value="{{ $model.csrf_token }}" />
										<tool-tip position="top">
											<div class="data-tip font-bold hidden">Logout</div>
											<button class="text-red-900 bg-red-200 hover:bg-red-300">
												<i class="ri-logout-box-r-line"></i>
											</button>
										</tool-tip>
									</form>

									<!-- INFO: User activate/deactivate button -->
									{{- if $u.Deactivated }}
										<form x-init @ajax:before="confirm('Der Benutzer {{ $u.Name }} wird wieder aktiviert und kann sich einloggen. Sicher?') || $event.preventDefault()" class="" method="POST" action="/admin/user/management/activate/" hx-boost="false" x-target="user-{{ $u.Id }} user-message">
											<input type="hidden" name="uid" id="uid" required value="{{ $u.Id }}" />
											<input type="hidden" name="csrf_token" id="csrf_token" required value="{{ $model.csrf_token }}" />
											<tool-tip position="top">
												<div class="data-tip font-bold hidden">Reaktivieren</div>
												<button class="bg-green-600 hover:bg-green-700">
													<i class="ri-restart-line"></i>
												</button>
											</tool-tip>
										</form>
									{{- else -}}
										<form x-init @ajax:before="confirm('Der Benutzer {{ $u.Name }} wird ausgeloggt und kann sich nicht mehr einloggen. Sicher?') || $event.preventDefault()" class="" method="POST" action="/admin/user/management/deactivate/" hx-boost="false" x-target="user-{{ $u.Id }} user-message" x-target.away="_top">
											<input type="hidden" name="uid" id="uid" required value="{{ $u.Id }}" />
											<input type="hidden" name="csrf_token" id="csrf_token" required value="{{ $model.csrf_token }}" />
											<tool-tip position="top">
												<div class="data-tip font-bold hidden">Deaktivieren</div>
												<button class="bg-red-600 hover:bg-red-700">
													<i class="ri-prohibited-2-line"></i>
												</button>
											</tool-tip>
										</form>
									{{- end -}}

								</div>
							</td>
						</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</div>
</div>
