{{ $toc := TOCFromHTML (printf "%s" (pageHtml "literatur" "text")) }}


<div class="container-normal relative">
	<div class="text ">
		{{ if (pageMetaField "literatur" "title") }}<h1 class="mb-12">{{ pageMetaField "literatur" "title" }}</h1>{{ end }}
		<div class="flex flex-row gap-x-6 justify-between ">
			<div class="grow shrink-0 text indented jumptext">
				{{ pageHtml "literatur" "text" }}
			</div>
			<div>
				{{- if $toc -}}
					<div class="xl:sticky xl:top-8  grow-0">
						{{- template "_toc" $toc -}}
					</div>
				{{- end -}}
			</div>
		</div>
	</div>
</div>
