<title>{{ .site.title }} &ndash; {{ pageMetaField "literatur" "title" }}</title>
<meta name="description" content="{{ pageMetaField "literatur" "description" }}" />
<meta name="page-key" content="literatur" />
