<!doctype html>
<html class="w-full h-full" {{ if .lang }}lang="{{ .lang }}"{{ end }}>
	<head>
		<meta charset="UTF-8" />

		{{ block "head" . }}
			<!-- Default Head elements -->
		{{ end }}

		{{ if .isDev }}
			<link rel="icon" href="/assets/logo/dev_favicon.png" />
		{{ else }}
			<link rel="icon" href="/assets/logo/favicon.png" />
		{{ end }}


		<link href="/assets/css/remixicon.css" rel="stylesheet" />
		<script src="/assets/js/alpine.min.js" defer></script>
		<script src="/assets/js/htmx.min.js" defer></script>
		<script src="/assets/js/htmx-response-targets.js" defer></script>
		<script src="/assets/js/client-side-templates.js" defer></script>

		<link rel="stylesheet" type="text/css" href="/assets/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />

		<script type="module">
			import { setup } from "/assets/scripts.js";
			setup();
		</script>
	</head>

	<body class="w-full" hx-ext="response-targets" hx-boost="true">
		<div class="container flex flex-col min-h-screen max-w-(--breakpoint-xl) mx-auto">
			<header class="px-3 py-2.5" id="header">
				{{ block "_menu" . }}
					<!-- Default app menu... -->
				{{ end }}
			</header>

			<div></div>

			<main class="">
				{{ block "body" . }}
					<!-- Default app body... -->
				{{ end }}
			</main>

			<footer>
				{{ block "_footer" . }}
				{{ end }}
			</footer>
		</div>
	</body>
</html>
