<!doctype html>
<html class="w-full h-full" {{ if .lang }}lang="{{ .lang }}"{{ end }}>
	<head>
		<meta charset="UTF-8" />

		{{ block "head" . }}
			<!-- Default Head elements -->
		{{ end }}

		{{ if .isDev }}
			<link rel="icon" href="/assets/logo/dev_favicon.png" />
			<meta name="robots" content="noindex" />
		{{ else }}
			{{ if .url }}
				<link rel="canonical" href="{{ .url }}" />
			{{ end }}
			<link rel="icon" href="/assets/logo/favicon.png" />
		{{ end }}


		<script type="module" src="/assets/scripts.js"></script>

		<script src="/assets/js/alpine.min.js" defer></script>
		<script src="/assets/js/htmx.min.js" defer></script>
		<script src="/assets/js/htmx-response-targets.js" defer></script>
		<script src="/assets/js/client-side-templates.js" defer></script>
		<script src="/assets/js/mark.min.js" defer></script>

		<link href="/assets/css/remixicon.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
	</head>

	<body class="w-full text-lg" hx-ext="response-targets" hx-boost="true">
		<div class="flex flex-col min-h-screen w-full">
			<header class="container-normal pb-0" id="header">
				{{ block "_menu" . }}
					<!-- Default app menu... -->
				{{ end }}
			</header>

			<main class="">
				{{ block "body" . }}
					<!-- Default app body... -->
				{{ end }}
			</main>

			{{ block "_footer" . }}
			{{ end }}


			<scroll-button></scroll-button>

			{{ block "scripts" . }}
				<!-- Default scripts... -->
			{{ end }}


			<script type="module">
				const hash = window.location.hash;
				if (hash) {
					const stripped = hash.slice(1);
					const element = document.getElementById(stripped);
					if (element) {
						element.setAttribute("aria-current", "location");
					}
				}
			</script>
		</div>
	</body>
</html>
