<!doctype html>
<html class="w-full h-full" {{ if .lang }}lang="{{ .lang }}"{{ end }}>
	<head>
		{{ block "head" . }}
			<!-- Default Head elements -->
		{{ end }}

		{{ template "_head" . }}

	</head>

	<body id="body" class="w-full text-lg" hx-ext="response-targets" hx-boost="true">
		<div class="flex min-h-screen w-full flex-col">
			<!-- this is the loading indicator -->
			{{ template "_global_notice" . }}
			<header class="border-b border-zinc-300 pb-0" id="header">
				{{ template "_menu_public" . }}
			</header>

			<main class="min-w-0 flex-1">
				{{ block "body" . }}
					<!-- Default app body... -->
				{{ end }}
			</main>

			{{ template "_footer" . }}
			{{ template "_fab" . }}

			{{ block "scripts" . }}
				<!-- Default scripts... -->
			{{ end }}

			{{ template "_scripts" . }}
		</div>
	</body>
</html>
