{{ $model := . }}
<title>
{{ if $model.is_new }}
	Neuer Almanach - Musenalm
{{ else if $model.result }}
	Bearbeiten: {{ $model.result.Entry.PreferredTitle }} - Musenalm
{{ else }}
	Neuer Almanach - Musenalm
{{ end }}
</title>
