<!doctype html>
<html class="w-full h-full" {{ if .lang }}lang="{{ .lang }}"{{ end }}>
	<head>
		{{ block "head" . }}
			<!-- Default Head elements -->
		{{ end }}

		{{ template "_head" . }}
	</head>

	<body id="body" class="w-full min-h-full" hx-ext="response-targets" hx-boost="true">
		<div class="flex flex-col min-h-screen w-full">
			{{ template "_global_notice" . }}
			<header class="border-b border-zinc-300 pb-0" id="header">
				{{ block "_menu" . }}
					<!-- Default app menu... -->
				{{ end }}
			</header>

			<main class="">
				{{ block "body" . }}
					<!-- Default app body... -->
				{{ end }}
			</main>

			{{ template "_footer" . }}

		{{ template "_fab" . }}

			{{ block "scripts" . }}
				<!-- Default scripts... -->
			{{ end }}

			{{ template "_scripts" . }}
		</div>
	</body>
</html>
