<div class="container-normal relative">
	<div class="text">
		{{ if (pageMetaField "danksagungen" "title") }}<h1 class="mb-12">{{ pageMetaField "danksagungen" "title" }}</h1>{{ end }}
		<div class="text [&_*]:!indent-0 [&_p]:mt-2">
			{{ pageHtml "danksagungen" "text" }}
		</div>
	</div>
</div>
