<title>{{ .site.title }} &ndash; {{ pageMetaField "danksagungen" "title" }}</title>
<meta name="description" content="{{ pageMetaField "danksagungen" "description" }}" />
<meta name="page-key" content="danksagungen" />
