{{ $model := . }}

<div class="admin-list-table-shell">
		<table id="orte-table" class="admin-list-table admin-table-fixed">
			<colgroup>
				<col style="width: 100%;" />
				<col style="width: 1%;" />
				<col style="width: 1%;" />
			</colgroup>
		<thead class="admin-list-head">
			<tr>
				<th class="py-2 pr-4 pl-4 align-bottom text-base font-semibold tracking-wide">Ort</th>
				<th class="py-2 pr-4 align-bottom text-base font-semibold tracking-wide col-verweise whitespace-nowrap text-right w-px">Verweise</th>
				<th class="py-2 pr-4 text-right align-bottom text-base font-semibold tracking-wide">Aktionen</th>
			</tr>
		</thead>
		<tbody id="orte-table-body">
			{{ template "_orte_rows" $model }}
		</tbody>
	</table>
</div>
